:root {
  --s: #66bb6a;
  --cor_verde_primaria: 102, 187, 106;
  --cor_verde_primaria_light: 152, 238, 153;
  --cor_verde_primaria_dark: 51, 138, 62;
  --cor_verde_primaria_dense: 32, 59, 34;
  --cor_bg: 240, 255, 240;
  --cor_bg2: 213, 255, 234;

  --cor_texto_1: rgb(119, 119, 119);
  --cor_texto_2: rgb(230, 255, 230);
  --cor_texto_3: rgb(21, 71, 15);

  --cor_azul_ok: rgb(79, 148, 240);
  --cor_vermelho_problema: rgb(239, 83, 80);
  --cor_amarelo_alerta: rgb(240, 199, 79);
  --cor_cinza_incapaz: rgb(108, 117, 125);

  --fonte_family: Arial, sans-serif;
}

body {
  font-family: var(--fonte_family);
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  cursor: pointer;
}

::selection {
  background: rgb(var(--cor_verde_primaria));
  color: #ffffff !important;
}

.fundo {
  background-color: rgb(#ffffff);
}

section {
  padding: 6rem 0 3rem 0;
}

section p {
  padding: 1rem;
  font-size: 1.3rem !important;
}

#about p {
  padding: 1rem;
  font-size: 1.1rem !important;
}

section h2 {
  /* font-size: 2.25rem; */
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    /* font-size: 3rem; */
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}


.navbar-brand {
  font-size: 2rem !important;
  height: 5rem;
  transition: height 0.3s;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 2.5rem !important;
  }

}

.navbar {
  background-color: rgba(var(--cor_verde_primaria));
  padding: 0;
}

#mainNav {
  font-weight: 700;
}

#mainNav.container {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

#mainNav .navbar-brand {
  height: 3.5rem;
  padding: 0.7rem;
  padding-left: 1rem;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
  margin-left: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: var(--cor_texto_2);
  padding: .5rem !important;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: rgb(var(--cor_verde_primaria_light));
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: rgb(var(--cor_verde_primaria_light));
  background-color: rgb(var(--cor_verde_primaria_dark));
}

#mainNav button {
  size: 2rem;
  padding-right: 1rem;
}

@media (min-width: 992px) {

  #mainNav .navbar-brand {
    height: 5rem;
    padding: 1.2rem;
  }

  #mainNav .navbar-nav {
    margin-top: 0;
    margin-left: auto !important;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
    color: rgb(var(--cor_verde_primaria_dense));
    background: rgba(var(--cor_verde_primaria_light, 0.4));
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: rgb(var(--cor_verde_primaria_dense));
    background: rgba(var(--cor_verde_primaria_light, 0.4));
  }

  #mainNav.navbar-shrink .navbar-brand {
    height: 4.5rem;
  }
}

header.masthead h2 {
  font-size: 1.3rem;
}

@media (min-width: 992px) {

  header.masthead h1 {
    font-size: 3rem;
    line-height: 4rem;
  }

  header.masthead h2 {
    font-size: 1.5rem;
  }
}

.footer {
  padding: 6rem 0 1rem;
}


a {
  color: var(--cor_texto_primario);
}

a:focus,
a:hover,
a:active {
  color: rgb(var(--cor_verde_primaria));
}

.btn {
  border-width: 2px;
}


.text-primary {
  color: var(--cor_texto_2) !important;
}

.text-secondary {
  color: var(--cor_texto_1) !important;
}

.text-third {
  color: var(--cor_texto_3) !important;
}

.btn-primary {
  background-color: rgb(var(--cor_verde_primaria));
  border-color: rgb(var(--cor_verde_primaria));
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: rgb(var(--cor_verde_primaria));
  border-color: rgb(var(--cor_verde_primaria));
}

.copyright {
  background-color: rgba(var(--cor_verde_primaria_light), 0.4) !important;
  color: var(--cor_texto_1) !important;
}

section.portfolio h5 {
  padding: 0.5em;
  margin-bottom: 0;
}

.exibir img {
  padding: 1em;
  margin: 1em;
  height: 5em;
  max-width: 250px;
}

#contato img {
  height: 2.2rem;
  margin: 0.5rem;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4,
.bgimg-5,
.bgimg-6 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(120%);
  transition: all 0.8s linear;
  /* opacity: 0.6; */
}

.bgimg-1 {
  background-image: url("../img/c1l.jpg");
  min-height: 92vh;
}

.bgimg-2 {
  background-image: url("../img/c2l.jpg");
  min-height: 92vh;
}

.bgimg-3 {
  background-image: url("../img/c3l.jpg");
  min-height: 92vh;
}

.bgimg-5 {
  background-image: url("../img/a1l.jpg");
  min-height: 60vh;
  opacity: 0.8;
}

.bgimg-6 {
  /* background-color: rgba(240, 255, 240, 0.6); */
  background-image: url("../img/co1l.jpg");
  min-height: 60vh;
  opacity: 0.8;
}

.bgimg-1.v {
  background-image: url("../img/c1.jpg");
  min-height: 92vh;
}

.bgimg-2.v {
  background-image: url("../img/c2.jpg");
  min-height: 92vh;
}

.bgimg-3.v {
  background-image: url("../img/c3.jpg");
  min-height: 92vh;
}

.bgimg-5.v {
  background-image: url("../img/a1.jpg");
  min-height: 60vh;
  opacity: 0.8;
}

.bgimg-6.v {
  /* background-color: rgba(240, 255, 240, 0.6); */
  background-image: url("../img/co1.jpg");
  min-height: 60vh;
  opacity: 0.8;
}

.img-t {
  padding: 1.5rem;
  margin: auto;
  width: 100%;
  max-width: 200px;
  display: block;
}


.carousel-caption .container {
  background-color: rgba(240, 255, 240, 0.6);
  /* box-shadow: inset 0 0px 0 0 #000; */
  border-radius: 10px;
  padding: 1.5rem;
}


@media (max-width: 720px) {
  .carousel-caption h1 {
    font-size: 2rem !important;
  }

  .carousel-caption p {
    font-size: 1rem !important;
  }
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: center !important;
}

.list {
  padding: .5rem;
  box-shadow: 0 1px 5px 1px rgba(128, 128, 128, 0.5);
  background-color: rgb(var(--cor_verde_primaria_light));
  border-radius: 5px;
  height: 100%;
}

.list li {
  display: block;
  font-size: 1rem;
  padding-left: 1.2rem;
  padding-bottom: 0.25rem;
}

.list p {
  /* padding-left: 0; */
  font-weight: 500;
  margin-bottom: 0rem;
}

.plist>div {
  margin-bottom: 2rem;
}

@media (max-width: 720px) {
  ol {
    margin-bottom: 2rem !important;
  }

  .carousel-caption {
    padding-bottom: 2rem !important;
  }
}