:root {
  --cor_verde_primaria: #66bb6a;
  --cor_verde_primaria_light: #98ee99;
  --cor_verde_primaria_dark: #338a3e;
  --cor_verde_primaria_dense: #203B22;
  --cor_bg: rgb(240, 255, 240);
  --cor_bg2: rgb(213, 255, 234);

  --cor_texto_1: rgb(119, 119, 119);
  --cor_texto_2: rgb(230, 255, 230);
  --cor_texto_3: rgb(21, 71, 15);

  --cor_azul_ok: #4F94F0;
  --cor_vermelho_problema: #ef5350;
  --cor_amarelo_alerta: #F0C74F;
  --cor_cinza_incapaz: #6c757d;

  --fonte_family: "Helvetica Neue", 'Roboto', Arial, sans-serif;
}

body {
  font-family: var(--fonte_family);
  cursor: default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  cursor: pointer;
}

::selection {
  background: #36b828;
  color: #ffffff !important;
}

.fundo:nth-child(n) {
  background-color: var(--cor_bg);
}

.fundo:nth-child(2n) {
  background-color: var(--cor_bg2) !important;
}

.fundo:last-child {
  background-color: var(--cor_verde_primaria_dense) !important;
  color: var(--cor_texto_3) !important;
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1040;
  right: 1rem;
  bottom: 0.5rem;
  display: flex;
}

.scroll-to-top a {
  width: 3rem;
  height: 3em;
  margin: 1rem 0.3rem 0.5rem 0.3rem;
  line-height: 3.1rem;
}

.Social-scroll {
  display: inline-flex;
}

@media(min-width: 992px) {
  .scroll-to-top {
    display: block;
  }

  .Social-scroll {
    display: block;
  }
}

@media(max-width:380px) {
  .scroll-to-top {
    margin-right: -5vw;
  }

  .scroll-to-top a {
    width: 3rem;
    height: 3em;
    margin: 0.5rem 0.1rem .5rem 0.1rem;
    padding: 0.1rem;
    line-height: 3.1rem;
  }
}

/* @media(max-width:380px) {
  .scroll-to-top {
    margin-right: -5vw;
  }

  .scroll-to-top a {
    width: 3rem;
    height: 3em;
    margin: 0.5rem 0.1rem .5rem 0.1rem;
    padding: 0.1rem;
    line-height: 3.1rem;
  }
} */

.navbar-brand {
  /* padding-left: 2rem !important;
  padding-top: 1.3rem !important; */
  font-size: 2rem !important;
  height: 5rem;
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 2.5rem !important;
  }

}

.navbar {
  background-color: #f0fff0dc;
  /*var(--cor_bg) */
  padding: 0;
}

#mainNav {
  font-weight: 700;
}

#mainNav.container {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

#mainNav .navbar-brand {
  padding: 1rem;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
  margin-left: 1rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: var(--cor_verde_primaria);
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: var(--cor_verde_primaria_light);
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: var(--cor_verde_primaria);
}

#mainNav button {
  size: 2rem;
  padding-right: 1rem;
}

@media (min-width: 992px) {
  #mainNav {
    /* padding-top: 1.5rem;
    padding-bottom: 1.5rem; */
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }

  #mainNav .navbar-brand {
    height: 100px;
    padding: 1rem;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.5s;
  }

  #mainNav .navbar-nav {
    margin-top: 0;
    margin-left: auto !important;
  }
/* 
  --cor_verde_primaria: #66bb6a;
  --cor_verde_primaria_light: #98ee99;
  --cor_verde_primaria_dark: #338a3e;
  --cor_verde_primaria_dense: #203B22; */

  #mainNav .navbar-nav>li.nav-item>a.nav-link.active {
    color: var(--cor_verde_primaria_light);
    background: #338a3e50;
  }

  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
  #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
    color: var(--cor_verde_primaria_light);
    background: #338a3e50;
  }

  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  #mainNav.navbar-shrink .navbar-brand {
    height: 75px;
    padding: 0.6rem;
  }
}

/* tamanho da navbar 72px */

header.masthead {
  /* padding-top: 5rem; */
  /* padding-bottom: 6rem; */
  /* color: #00293eff !important */
}

header.masthead h2 {
  font-size: 1.3rem;
}

@media (min-width: 992px) {
  header.masthead {
    /* padding-top: calc(6rem + 106px);
    padding-top: 12rem;
    padding-bottom: 10rem; */
  }

  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }

  header.masthead h2 {
    font-size: 1.5rem;
  }
}

.footer {
  padding: 6rem 0 4em;
  /* padding-bottom: 2rem; */
  background-color: var(--cor_verde_primaria_dark);
  color: var(--cor_texto_primario);
}


a {
  color: var(--cor_texto_primario);
}

a:focus,
a:hover,
a:active {
  color: var(--cor_verde_primaria);
}

.btn {
  border-width: 2px;
}


.text-primary {
  color: var(--cor_texto_2) !important;
}

.text-secondary {
  color: var(--cor_texto_1) !important;
}

.text-third {
  color: var(--cor_texto_3) !important;
}

.btn-primary {
  background-color: var(--cor_verde_primaria);
  border-color: var(--cor_verde_primaria);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--cor_verde_primaria);
  border-color: var(--cor_verde_primaria);
}

.btn-secondary {
  background-color: var(--cor_verde_primaria_dark);
  border-color: var(--cor_verde_primaria_dark);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--cor_verde_primaria_dark);
  border-color: var(--cor_verde_primaria_dark);
}

.copyright {
  /* background-color: var(--cor_verde_primaria_dense);
  color: var(--cor_texto_2); */
  padding: 10px;
}

section.portfolio h5 {
  padding: 0.5em;
  margin-bottom: 0;
}

.list {
  padding: 1em;
}

.list p {
  margin-bottom: 0.5em !important;
}

.list b {
  font-weight: 700;
}

.bloco {
  background-color: #2c6c8a59;
  margin-bottom: 25px;
  padding-top: 1em;
}

.exibir {
  background-color: #7bbbe848;
}

.exibir img {
  /* width: 1.5em; */
  padding: 1em;
  margin: 1em;
  height: 5em;
  max-width: 250px;
  /* height: auto; */
}

.col {
  flex-grow: 0;
}

.poucomais img {
  height: 5em;
  padding: 0.3em;
}

#pa {
  margin-top: -0.7em;
  margin-left: 0.2em;
}

#contato p {
  float: right;
  padding: .4em;
  text-align: left;
}

#contato h2 {
  padding-bottom: 1em;
}

b {
  font-weight: 700;
}


/* .carousel-item> img {
  min-height: 100%;
  position: relative;
  opacity: 0.7;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */


.bgimg-1,
.bgimg-2,
.bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.bgimg-1 {
  background-image: url("../img/4.jpg");
  min-height: 80vh;
}

.bgimg-2 {
  background-image: url("../img/5.jpg");
  min-height: 80vh;
}

.bgimg-3 {
  background-image: url("../img/7.jpg");
  min-height: 80vh;
}