@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?vahzk7');
  src: url('fonts/icomoon.eot?vahzk7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vahzk7') format('truetype'),
    url('fonts/icomoon.woff?vahzk7') format('woff'),
    url('fonts/icomoon.svg?vahzk7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 2.8rem;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-civil .path1:before {
  content: "\e900";
  color: rgb(201, 227, 245);
}

.icon-civil .path2:before {
  content: "\e901";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-civil .path3:before {
  content: "\e902";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-civil .path4:before {
  content: "\e903";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-eletrica .path1:before {
  content: "\e904";
  color: rgb(201, 227, 245);
}

.icon-eletrica .path2:before {
  content: "\e905";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-emai .path1:before {
  content: "\e906";
  color: rgb(240, 247, 252);
}

.icon-emai .path2:before {
  content: "\e907";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-emai .path3:before {
  content: "\e908";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-fb .path1:before {
  content: "\e909";
  color: rgb(240, 247, 252);
}

.icon-fb .path2:before {
  content: "\e90a";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-insta .path1:before {
  content: "\e90b";
  color: rgb(240, 247, 252);
}

.icon-insta .path2:before {
  content: "\e90c";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-insta .path3:before {
  content: "\e90d";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-insta .path4:before {
  content: "\e90e";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-lampada .path1:before {
  content: "\e90f";
  color: rgb(201, 227, 245);
}

.icon-lampada .path2:before {
  content: "\e910";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-lampada .path3:before {
  content: "\e911";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-lampada .path4:before {
  content: "\e912";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-lampada .path5:before {
  content: "\e913";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-lampada .path6:before {
  content: "\e914";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-lampada .path7:before {
  content: "\e915";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-lampada .path8:before {
  content: "\e916";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-lampada .path9:before {
  content: "\e917";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-local .path1:before {
  content: "\e918";
  color: rgb(240, 247, 252);
}

.icon-local .path2:before {
  content: "\e919";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-logo_h .path1:before {
  content: "\e928";
  color: rgb(56, 115, 179);
}

.icon-logo_h .path2:before {
  content: "\e929";
  margin-left: -3.0859375em;
  color: rgb(33, 98, 167);
}

.icon-logo_h .path3:before {
  content: "\e92a";
  margin-left: -3.0859375em;
  color: rgb(56, 115, 179);
}

.icon-logo_h .path4:before {
  content: "\e92b";
  margin-left: -3.0859375em;
  color: rgb(33, 98, 167);
}

.icon-logo_h .path5:before {
  content: "\e92c";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path6:before {
  content: "\e92d";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path7:before {
  content: "\e92e";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path8:before {
  content: "\e92f";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path9:before {
  content: "\e930";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path10:before {
  content: "\e931";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path11:before {
  content: "\e932";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path12:before {
  content: "\e933";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path13:before {
  content: "\e934";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path14:before {
  content: "\e935";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path15:before {
  content: "\e936";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path16:before {
  content: "\e937";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path17:before {
  content: "\e938";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-logo_h .path18:before {
  content: "\e939";
  margin-left: -3.0859375em;
  color: rgb(0, 60, 85);
}

.icon-mecanica .path1:before {
  content: "\e91a";
  color: rgb(201, 227, 245);
}

.icon-mecanica .path2:before {
  content: "\e91b";
  margin-left: -0.884765625em;
  color: rgb(9, 152, 208);
}

.icon-menu .path1:before {
  content: "\e91c";
  color: rgb(240, 247, 252);
}

.icon-menu .path2:before {
  content: "\e91d";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-menu .path3:before {
  content: "\e91e";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-menu .path4:before {
  content: "\e91f";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-tel .path1:before {
  content: "\e920";
  color: rgb(240, 247, 252);
}

.icon-tel .path2:before {
  content: "\e921";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-tel .path3:before {
  content: "\e922";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-top .path1:before {
  content: "\e923";
  color: rgb(240, 247, 252);
}

.icon-top .path2:before {
  content: "\e924";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-top .path3:before {
  content: "\e925";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}

.icon-wpp .path1:before {
  content: "\e926";
  color: rgb(240, 247, 252);
}

.icon-wpp .path2:before {
  content: "\e927";
  margin-left: -0.8837890625em;
  color: rgb(56, 115, 179);
}